* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 90%;
}

.imgfundo {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90%;
    margin-top: 59px;
    background-image: url(vac.png);
}

.div-wave {
    display: flex;
    position: fixed;
    margin-top: 610px;
    background-size: cover;
    background-image: url(wave.png);
    height: 1000px;
    width: 2000px;
}

